.navigation__list {
  @include list-grid(3);
  overflow: hidden;
}

.navigation__item {
  @include item-grid();
  cursor: pointer;
  padding: 0;
  height: 40px;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.navigation_current {
  background-color: rgb(235, 186, 130, 0.5);
}

.navigation__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #383838;
  font-weight: 600;
}